@model MvcStok.Models.Entity.tbl_musterıler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adi</label>
        @Html.TextBoxFor(m => m.musteriad, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.musteriad, "", new { @style = "color:red"})
    </div>
    <div style="margin-top:15px">
        <label>Müşteri Soyad</label>
        @Html.TextBoxFor(m => m.musterisoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.musterisoyad, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">MÜŞTERİ EKLE</button>
    </div>
    
    <script>
        $('#btn1').click(function () {
            alert('Müşteri ekleme başarılı');
        });
    </script>

</form>

